# App Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Authentication (Better Auth & OAuth)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database (Prisma & Neon)
DATABASE_URL=''

# Cloud Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Service (Resend)
RESEND_API_KEY=

# AI Services & Workers
CLOUDFLARE_API_KEY=
GLM_WORKER_URL=
FLUX_KLEIN_WORKER_URL=
