# App Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Authentication (Better Auth & OAuth)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database (Prisma & Neon)
DATABASE_URL=''

# Cloud Storage (AWS S3 / Cloudflare R2)
AWS_REGION=
AWS_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

# Email Service (Resend)
RESEND_API_KEY=

# AI Services & Cloudflare AI Gateway
CLOUDFLARE_AI_GATEWAY_API_KEY=
CLOUDFLARE_AI_GATEWAY_ENDPOINT=
